<div mat-dialog-title style="width: fit-content;">
    <h1>Add Employee</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input type="text" matInput formControlName="firstname">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input type="text" matInput formControlName="lastname">
          </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Email Id</mat-label>
            <input type="email" matInput formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Date of birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>
    <div class="row">
        <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-label><b>Gender</b></mat-label>
            <mat-radio-button value="male" color="primary">Male</mat-radio-button>
            <mat-radio-button value="female" color="primary">Female</mat-radio-button>
          </mat-radio-group>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
        <mat-label>Qualification</mat-label>
        <mat-select formControlName="education">
             <mat-option *ngFor="let val of education" [value]="val">{{val}}</mat-option>
        </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>
            <input type="text" matInput formControlName="company">
          </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Experience</mat-label>
            <input type="number" matInput formControlName="experience">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Package</mat-label>
            <input type="number" matInput formControlName="package">
            <mat-hint>in rupees</mat-hint>
          </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!empForm.valid">{{data ? "Update" : "Save"}}</button>
    <button mat-raised-button type="button"  [mat-dialog-close]="false">Cancel</button>
</div>
</form>
